<div class="row">

    <main class="col-sm-11 ml-sm-auto col-md-12 pt-3" role="main">
        <h1>Lista zajęć dodatkowych</h1>


        <div ng-repeat="child in children">
            <h2>{{child.firstName}} {{child.lastName}}</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa</th>
                        <th>Prowadzący</th>
                        <th>Ilość miejsc</th>
                        <th>Zapisy</th>
                        <th>Koszt</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="course in child.courses">
                        <td>{{ $index }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.host }}</td>
                        <td>{{ course.slots }}</td>
                        <td>{{ course.signUpStartDate }}</td>
                        <td>{{ course.rate }}</td>
                        <td>{{ course.description }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h3>Otwarte kursy na zapisy:</h3>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nazwa</th>
                        <th>Prowadzący</th>
                        <th>Ilość miejsc</th>
                        <th>Zapisy</th>
                        <th>Koszt</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="course in child.availableCourses">
                        <td>{{ $index }}</td>
                        <td>{{ course.name }}</td>
                        <td>{{ course.host }}</td>
                        <td>{{ course.slots }}</td>
                        <td>{{ course.signUpStartDate }}</td>
                        <td>{{ course.rate }}</td>
                        <td>{{ course.description }}</td>
                        <td class="show-coursor" ng-click="register(course, child)">Zapisz</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <style>
        .show-coursor {
            cursor: pointer;
        }
    </style>
</div>
