<div class="row">
    <main class="col-sm-12 ml-sm-auto col-md-12 pt-3" role="main">

        <h1>Lista zajęć</h1>


       <a href="" ng-click="add()" style="float: right;">Dodaj nowe zajęcie dodatkowe   <i class="fa fa-plus" aria-hidden="true"></i>
       </a><div style="clear: both"></div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th>Prowadzący</th>
                    <th>Ilość wolnych miejsc</th>
                    <th>Zapisy</th>
                    <th>Koszt</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in courseList">
                    <td>{{$index + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.host}}</td>
                    <td>{{item.slots}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.rate}}</td>
                    <td>
                       <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                       <a href=""><i class="fa fa-times" aria-hidden="true"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
