<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Dodawanie nowego kursu</h3>
</div>
<div class="modal-body" id="modal-body">
  <form>
      <div class="row">
          <div class="col">
              <label for="comment">Nazwa:</label>
              <input type="text" ng-model="$ctrl.item.name" class="form-control" placeholder="Nazwa">
          </div>
          <div class="col">
              <label for="comment">Prowadzący:</label>
              <input type="text" ng-model="$ctrl.item.host" class="form-control" placeholder="Prowadzący">
          </div>
      </div>
      <div class="row">
          <div class="col">
              <label for="comment">Zapisy od:</label>
              <input type="datetime-local" ng-model="$ctrl.item.signUpStartDate" class="form-control" placeholder="Zapisy">
          </div>
          <div class="col">
              <label for="comment">Zapisy do:</label>
              <input type="datetime-local" ng-model="$ctrl.item.signUpEndDate" class="form-control" placeholder="Zapisy">
          </div>
      </div>
      <div class="row">
           <div class="col">
               <label for="comment">Limit:</label>
              <input type="number" ng-model="$ctrl.item.slots" class="form-control" placeholder="Limit">
          </div>
          <div class="col">
              <label for="comment">Dzień tygodnia:</label>
              <select ng-model="$ctrl.item.weekDay" class="col-xs-3 form-control" id="inlineFormCustomSelect">
                <option value="1">Poniedziałek</option>
                <option value="2">Wtorek</option>
                <option value="3">Środa</option>
                <option value="4">Czwartek</option>
                <option value="5">Piątek</option>
                <option value="6">Sobota</option>
                <option value="7">Niedziela</option>
              </select>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <label for="comment">Godzina rozpoczęcia:</label>
              <input type="time" ng-model="$ctrl.item.startTime" class="form-control" placeholder="Godzina rozpoczęcia">
          </div>
          <div class="col">
              <label for="comment">Godzina zakończenia:</label>
              <input type="time" ng-model="$ctrl.item.stopTime" class="form-control" placeholder="Godzina zakończenia">
          </div>
          <div class="col">
              <label for="comment">Koszt:</label>
              <input type="text" ng-model="$ctrl.item.rate" class="form-control" placeholder="Koszt">
          </div>
      </div>
      <div class="row">
          <div class="col">
          <label for="comment">Opis:</label>
            <textarea ng-model="$ctrl.item.description" class="form-control" rows="5" id="comment"></textarea>
          </div>
      </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Zapisz</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Anuluj</button>
</div>