<div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">

    </nav>

    <main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
        <h1>Dashboard</h1>

        <a ui-sref="users">users</a>
        <a ui-sref="users.signIn"> | users.signIn </a>

        <h2>Lista zajęć</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th>Prowadzący</th>
                    <th>Ilość wolnych miejsc</th>
                    <th>Zapisy</th>
                    <th>Koszt</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="">
                    <td>1.</td>
                    <td>Nazwa zajęć</td>
                    <td>Staś Kowalski</td>
                    <td>30</td>
                    <td>2017-02-02</td>
                    <td>bezpłatne</td>
                    <td>szczegóły</td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>