<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Dodawanie ucznia</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
      <div class="row">
          <div class="col">
              <label for="comment">Imię:</label>
              <input type="text" class="form-control" placeholder="Imię">
          </div>
          <div class="col">
              <label for="comment">Nazwisko:</label>
              <input type="text" class="form-control" placeholder="Nazwisko">
          </div>
      </div>
        <div class="row">
            <div class="col">
                <label for="comment">Rodzic:</label>
                <input type="text" class="form-control" placeholder="E-mail">
            </div>

        </div>
      <div class="row">
          <div class="col">
              <label for="comment">Klasa:</label>
              <input type="text" class="form-control" placeholder="E-mail">
          </div>
      </div>
      
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Zapisz</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Anuluj</button>
</div>