<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Nasz super system</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" ui-sref="dashboard.courseList"  ui-sref-active="active">Lista zajeć dodatkowych</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="dashboard.family"  ui-sref-active="active">Moje dzieci</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref="users.signIn">Wyloguj</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid" ui-view></div>
