<div class="row">
    <main class="col-sm-12 ml-sm-auto col-md-12 pt-3" role="main">

        <h1>Lista klas</h1>

        <a href="" ng-click="add()" style="float: right;">
            Dodaj nową klasę   <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
            <div style="clear: both"></div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in groupList">
                    <td>{{$index + 1}}</td>
                    <td>{{item.name}}</td>
                   
                    <td>
                        <i class="fa fa-pencil"></i>
                        <i class="fa fa-times"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>