<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Rejestracja nowej klasy</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
      <div class="row">
          <div class="col">
              <label for="comment">Nazwa Klasy:</label>
              <input type="text" ng-model="$ctrl.item.name" class="form-control" placeholder="Nazwa">

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Zapisz</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Anuluj</button>
</div>