<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Rejestracja nowego rodzica</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
      <div class="row">
          <div class="col">
              <label for="comment">Imię Rodzica:</label>
              <input type="text" ng-model="$ctrl.item.firstName" class="form-control" placeholder="Imię">
          </div>
          <div class="col">
              <label for="comment">Nazwisko Rodzica:</label>
              <input type="text" ng-model="$ctrl.item.lastName" class="form-control" placeholder="Nazwisko">
          </div>
      </div>
      <div class="row">
          <div class="col">
              <label for="comment">E-mail Rodzica:</label>
              <input type="text" ng-model="$ctrl.item.email" class="form-control" placeholder="E-mail">
          </div>
          
          
      </div>
      
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Zapisz</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Anuluj</button>
</div>