<div class="row">
    <main class="col-sm-12 ml-sm-auto col-md-12 pt-3" role="main">

        <h1>Lista rodziców</h1>


        <a href="" ng-click="add()" style="float: right;">Rejestracja rodzica   <i class="fa fa-plus" aria-hidden="true"></i>
        </a><div style="clear: both"></div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Nazwa</th>
                    <th> Adres E-mail</th>
                    <th>Active</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in parentList">
                    <td>{{$index + 1}}</td>
                    <td>{{item.firstName}} {{item.lastName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.active}} <i class="fa fa-check"></i><i class="fa fa-envelope-o"></i> </td>
                    <td>
                    <a href="#"><i  class="fa fa-pencil"></i></a>    
                        <a href="#"><i class="fa fa-times"></i>    </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>