<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Dodawanie ucznia</h3>
</div>
<div class="modal-body" id="modal-body">
    <form>
        <div class="row">
            <div class="col">
                <label for="comment">Imię:</label>
                <input type="text" ng-model="$ctrl.item.firstName" class="form-control" placeholder="Imię">
            </div>
            <div class="col">
                <label for="comment">Nazwisko:</label>
                <input type="text" ng-model="$ctrl.item.lastName" class="form-control" placeholder="Nazwisko">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="comment">Rodzic:</label>
                <select ng-options="item as (item.firstName + ' ' + item.lastName + '( ' + item.email + ' )') for item in $ctrl.parents track by item" class="col-xs-3 form-control" ng-model="$ctrl.item.parent"></select>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <label for="comment">Klasa:</label>
                <select ng-options="item as item.name for item in $ctrl.groups track by item" class="col-xs-3 form-control" ng-model="$ctrl.item.group"></select>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">Zapisz</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Anuluj</button>
</div>