<div class="row">
    <main class="col-sm-12 ml-sm-auto col-md-12 pt-3" role="main">

        <h1>Lista uczniów</h1>


       <a href="" ng-click="add()" style="float: right;">Dodaj nowego ucznia  <i class="fa fa-plus" aria-hidden="true"></i>
       </a><div style="clear: both"></div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Uczeń</th>
                    <th>Klasa</th>
                    <th>Rodzic</th>
                    <th>Koszt</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in list">
                    <td>{{$index + 1}}</td>
                    <td>{{item.firstName}} {{item.lastName}}</td>
                    <td>{{item.group.name}}</td>
                    <td>{{item.parent.firstName}} {{item.parent.lastName}}</td>
                    <td>
                       <a href=""><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                       <a href=""><i class="fa fa-times" aria-hidden="true"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>
