@import "custom";
@import "~bootstrap/scss/bootstrap";

body {
    background: #E7E7E7;
}

.form-signin{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    max-width: 640px;
}

.margin-btm{
    margin-bottom: 10px;
}

button:hover{
    cursor: pointer;
}

.nav-left{
    background: red;
}

.modal-backdrop {
    background-color: rgba(#000, 0.7);
}

a{
    color: black;
}

a:hover{
    text-decoration: none;
}

a:visited{
    color: black;
    text-decoration: none;
}



.edit:hover{
    text-decoration: none;
}