<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading margin-btm">Zaloguj się:</h2>
        <label for="inputEmail" class="sr-only"></label>
        <input type="email" id="inputEmail" class="form-control margin-btm" placeholder="E-mail" required autofocus>
        <label for="inputPassword" class="sr-only margin-btm"></label>
        <input type="password" id="inputPassword" class="form-control margin-btm" placeholder="Hasło" required>
        <button class="btn btn-lg btn-primary btn-block margin-btm" type="submit">Zaloguj się</button>
    </form>

</div>